@charset "utf-8";
/* -------------------------------------------------
 * TLogin01 css 
 * source: w3cplus
 * link: http://www.w3cplus.com/demo/mini-login-form.html
 * adapt: alwaysonlinetxm
 * -------------------------------------------------
*/
/* 窗口尺寸 */
.TLogin01Resize {
	width:400px;
    height:177px;
}
/* 图片大小 */
.TLogin01Resize:before {
	top:-50px;
    left:150px;
    width:102px;
    height:102px;
    padding:2px;
}
/* 注册链接框尺寸 */
.TLogin01Resize .TLogin01-reg {
	top:calc(100% + 20px);
	width:400px;
    height:46px;
	line-height:46px;
}
.TLogin01 {    
    margin:70px auto 0;
    padding-top:73px;
    position:relative;
	background: #fff;
    background:-*-linear-gradient(top,rgb(255,255,255),rgb(232,232,232));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
    box-shadow:0 3px 3px rgba(21,62,78,0.8);
}
.TLogin01:before {
    content:"";
    position:absolute;
    border:1px solid rgb(216,216,219);
    background:#fff url("profilepicture.jpg") no-repeat 2px 2px;
}
.TLogin01-reg {
    position:absolute;
    color:rgb(153,153,153);
    font-weight:bold;
	font-size: 12px;   
    background-color:rgb(235,235,235);    
    margin:0 auto;
    text-align: center;
    box-shadow:0 3px 3px rgba(21,62,78,0.8);
}
.TLogin01-reg a {
    margin-left:5px;
    text-decoration: none;
    color:rgb(52,119,182);
    cursor: pointer;
}
.TLogin01 div {
    width:216px;
    height:28px;
    margin:20px auto;
    position:relative;
    line-height:28px;
    border:none;
}
.TLogin01 .TLogin01-usericon, 
.TLogin01 .TLogin01-passicon {
    display:inline-block;
    font-family: 'loginform-icon';
    font-size:15px;
    text-align:center;
    line-height:28px;
    color:rgb(153,153,153);
    position:absolute;
    left:1px;
    top:1px;
    background-color:rgb(255,255,255);
    border:none;
    border-right:1px solid rgb(229,229,232);
    width:30px;
    height:28px;
    transition: all 300ms linear;
}
.TLogin01 .TLogin01-username input, .TLogin01 .TLogin01-password input {
    height:100%;
    width:calc(100% - 40px);
    padding-left:40px;
    border-radius:2px;
    border:1px solid;
    border-color:rgb(229,229,232) rgb(220,220,221) rgb(213,213,213) rgb(220,220,221);
    display:block;
    transition: all 300ms linear;
}

.TLogin01 .TLogin01-icon:before, .TLogin01 .TLogin01-icon:after {
    content:"";
    position:absolute;
    top:10px;
    left:30px;
    width:0;
    height:0;
    border:4px solid transparent;
    border-left-color:rgb(255,255,255);
}
.TLogin01 .TLogin01-icon:before {
    top:9px;
    border:5px solid transparent;
    border-left-color:rgb(229,229,232);
}
.TLogin01 .TLogin01-username input:focus, .TLogin01 .TLogin01-password input:focus {
    border-color:rgb(69,153,228);
    box-shadow:0 0 2px 1px rgb(200,223,244);
}
.TLogin01 .TLogin01-username input:focus + span, .TLogin01 .TLogin01-password input:focus + span {
    background:-*-linear-gradient(top,rgb(255,255,255),rgb(245,245,245));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
    color:rgb(51,51,51);
}
.TLogin01 .TLogin01-username input:focus + span:after, .TLogin01 .TLogin01-password input:focus + span:after {
    border-left-color:rgb(250,250,250);
}

.TLogin01 .TLogin01-rem label {
    margin-left:24px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    cursor:pointer;
}
.TLogin01 button {
    color:#fff;
    font-weight:bold;
    float:right;
    width:68px;
    height:30px;
    position:relative;
	background: rgb(52,119,182); /* IE9下用纯色代替渐变 */
    background:-*-linear-gradient(top,rgb(74,162,241),rgb(52,119,182)) 1px 0 no-repeat,
               -*-linear-gradient(top,rgb(52,118,181),rgb(36,90,141)) left top no-repeat;
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4aa2f1', endColorstr='#3477b6',GradientType=0 ); */
    background-size:66px 28px,68px 29px;
    border:none;
    border-top:1px solid rgb(52,118,181);
    border-radius: 2px;
    box-shadow:inset 0 1px 0 rgb(86,174,251);
    text-shadow:0 1px 1px rgb(51,113,173);
    transition: all 200ms linear;
}
.TLogin01 button:hover {
    text-shadow:0 0 2px rgb(255,255,255);
    box-shadow:inset 0 1px 0 rgb(86,174,251),0 0 10px 3px rgba(74,162,241,0.5);
}
.TLogin01 button:active {
	background: rgb(74,162,241); /* IE9下用纯色代替渐变 */
    background:-*-linear-gradient(top,rgb(52,119,182),rgb(74,162,241)) 1px 0 no-repeat,
               -*-linear-gradient(top,rgb(52,118,181),rgb(36,90,141)) left top no-repeat;
	/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3477b6', endColorstr='#4aa2f1',GradientType=0 ); */
}

.TLogin01 .TLogin01-rem input {
    width:0px;
    height:0px;
}
.TLogin01 label.TLogin01-check {
    position:absolute;
    left:0;
    top:50%;
    margin:-8px 0;
    display:inline-block;
    width:16px;
    height:16px;
    line-height: 16px;
    text-align:center;
    border-radius:2px;
    background:-*-linear-gradient(top,rgb(255,255,255),rgb(246,246,246)) 1px 1px no-repeat,
               -*-linear-gradient(top,rgb(227,227,230),rgb(165,165,165)) left top no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );
    background-size:14px 14px,16px 16px;
}
.TLogin01 label.TLogin01-check:before {
	content: "";
}
.TLogin01 .TLogin01-rem input:checked + label.TLogin01-check:before {
    content:attr(data-on);
    font-family:loginform-icon;
}
@font-face {
  font-family: 'loginform-icon';
  src: url("font/loginform-icon.eot");
  src: url("font/loginform-icon.eot?#iefix") format('embedded-opentype'),
       url("font/loginform-icon.woff") format('woff'),
       url("font/loginform-icon.ttf") format('truetype'),
       url("font/loginform-icon.svg#loginform-icon") format('svg');
  font-weight: normal;
  font-style: normal;
}